.page {
    background-color: #fdfdfd;
    padding: 20px;
}

.header{
    background-color: rgb(220, 20, 60);
    margin-left: auto; margin-right: auto;
    padding: 20px;
    border: 3px black;
    border-style: double;
    border-radius: 5px;
    text-align: center;
}

.goals-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around;  */
    align-items: flex-start; /*So that flex items don't have the same height*/
    align-content: flex-start;
    /* width: fit-content; */
    border-style: outset;
}
/*** Content Interface Styling ***/
.content-interface {
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    width:fit-content;
    padding: 20px;
    background-color: gold;
    border: solid black 5px;
    border-radius: 10px;
}

.inp-container{
    margin: 10px;
}

#add-content{
    margin-right: 10px;
}

#add-color{
    margin-right: 10px;
}

.submit-btn {
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: rgb(1, 230, 1);
}
/***Display-content-styling***/
#goal-container{
    background-color: lawngreen;
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
}