.page {
    background-color: #fdfdfd;
    padding: 20px;
}

.header{
  background: radial-gradient(rgba(141, 149, 170, 0.959) 5%, rgb(103, 89, 136)50%);
  color:rgb(255, 255, 255);
  margin-left: auto; margin-right: auto;
  padding: 20px;
  border: 3px black;
  border-style: double;
  border-radius: 5px;
  text-align: center;
  font-family: Varela Round;
  font-style: oblique;
  letter-spacing: 2px;
  position: relative;
  transition: all 2s ease;
  z-index: 1;
}

/* Gradient transition effect */
.header::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(rgb(103, 89, 136) 25%,rgba(141, 149, 170, 0.781));
  z-index: -1;
  transition: all 0.5s linear;
  opacity: 0;
}

.header:hover::before {
  opacity: 1;
}

.goals-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around;  */
    align-items: flex-start; /*So that flex items don't have the same height*/
    align-content: flex-start;
    width: fit-content;
    border-style: outset;
}
/*** Content Interface Styling ***/
.content-interface {
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    width:fit-content;
    padding: 20px;
    background-color: gold;
    border: solid black 5px;
    border-radius: 10px;
    z-index: 2;
}

.inp-container{
    margin: 10px;
}

#add-content{
    margin-right: 10px;
}

#add-color{
    margin-right: 10px;
}

.submit-btn {
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: rgb(1, 230, 1);
}