.page {
    background-color: #fdfdfde7;
    padding: 20px;
}

.reward{
  position: sticky;
  text-align: center;
  z-index: 1000;
}

.header{
  background: radial-gradient(rgba(141, 149, 170, 0.959) 5%, rgb(103, 89, 136)50%);
  color:rgb(255, 255, 255);
  margin-left: auto; margin-right: auto;
  padding: 20px;
  border: 3px black;
  border-style: double;
  border-radius: 5px;
  text-align: center;
  font-family: Varela Round;
  font-style: oblique;
  letter-spacing: 2px;
  position: relative;
  transition: all 2s ease;
  z-index: 1;
}

/* Gradient transition effect */
.header::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(rgb(103, 89, 136) 25%,rgba(141, 149, 170, 0.781));
  z-index: -1;
  transition: all 0.5s linear;
  opacity: 0;
}

.header:hover::before {
  opacity: 1;
}

.goals-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around;  */
    align-items: flex-start; /*So that flex items don't have the same height*/
    align-content: space-between;
    justify-content: flex-start;
    gap: 15px;
    width: fit-content;
    padding: 10px;
    border-style: outset;
}