/***Display-goals-styling***/

.container{
    width: fit-content;
    height: fit-content;
}

.container-inner{
    width: fit-content;
    height: fit-content;
    position: relative;
    text-align: center;
    transition: all 0.8s ease-in-out;
    transform-style: preserve-3d;
}

.goal-post, .container-update{
    /* position: absolute;  */
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.container-update{
    position: absolute;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around;
    align-content: space-around;
    flex: 1 1 20px ; */
    padding: 10px;
    top: 50px; right: 20px;
    border: 1px solid black;
    transform: rotateY(180deg);
    z-index: 1;
}

.goal-post{
    color: white;
    overflow-wrap: break-word;
    border: 2px solid black;
    border-radius: 0px 20px;
    width: 200px;
    max-width: 250px;
    padding: 10px;
    background-color: #003049;
    margin: 10px;
    transform: scale(1,1);
    transition: all 0.5s ease-in;
    z-index: 1;
}

.goal-post:hover{
    width: 250px;
    transform: scale(1.25,1.25);
    z-index: 5;
}

.delete-btn{
    border: 2px solid black;
    border-radius: 5px;
    background-color: red;
    float: right;
    visibility: hidden;
}

.index{
    float: left;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    margin-right: 10px;
}