/***Interest-Page-Style***/
.interest-page {
  background-color: #ffffffd0;
  padding: 20px;
  /* display: flex;
  flex-direction: column; */
}

.header{
  background: radial-gradient(rgba(141, 149, 170, 0.959) 5%, rgb(103, 89, 136)50%);
  color:rgb(255, 255, 255);
  margin-left: auto; margin-right: auto;
  padding: 20px;
  border: 3px black;
  border-style: double;
  border-radius: 5px;
  text-align: center;
  font-family: Varela Round;
  font-style: oblique;
  letter-spacing: 2px;
  position: relative;
  transition: all 2s ease;
  z-index: 1;
}

/* Gradient transition effect */
.header::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(rgb(103, 89, 136) 25%,rgba(141, 149, 170, 0.781));
  z-index: -1;
  transition: all 0.5s linear;
  opacity: 0;
}

.header:hover::before {
  opacity: 1;
}


.interest-container{
  margin-bottom: 10px;
  border: 2px solid black;
  box-shadow: 4px 4px 4px 0px rgba(90, 80, 80, 0.561);
  background: url('./image/Me_and_Croft.jpeg');
  background-size: cover;
  background-position: center;
  color: white;

  transition: all 0.5s ease-in;
}

.interface-container{
  color: black;
}

.interest-container:hover{
  box-shadow: 4px 4px 3px 4px #fcbf49;
}

.list-container{
  background: rgba(128, 128, 128, 0.596);
  box-shadow: 1px 1px 5px 2px rgba(230, 220, 220, 0.493);
}

.desc-container{
  background: rgba(128, 128, 128, 0.596);
  box-shadow: 1px 1px 5px 2px rgba(230, 220, 220, 0.493);
  text-align: justify;
  margin: auto;
  width: 50%; 
  padding: 5px;
}

.interest-date{
  display: inline-block;
}

.delete-btn{
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  background-color: red;
  margin-left: 10px;
  /* visibility: hidden; */
}

ul li{
  text-shadow: 2px 2px black;
  font-size: large;
  letter-spacing: 1px;
}

ul li:hover {
  background-color: #fcc049af;
}