/***Add-Interest-Interface-Style***/
.addInterface{
  /* display: flex; */
  position: absolute;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: black 4px solid;
  border-radius: 10px;
  margin: auto;
  left: 0; right: 0;
  width:fit-content;
  padding: 20px;
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.25);
}

.container{
    display: flex;
    flex-direction: column;
}

.header{
    border: 2px solid black;
    border-radius: 5px 0px 5px;
    padding: 20px;
}

#interest-submit-btn{
  background-color: rgba(10, 212, 10, 0.781);
  border: 2px solid black;
  box-shadow: 2px 2px 1px 0px rgb(0, 0, 0);
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

#interest-submit-btn:hover{
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
}

.remove-btn{
  position: absolute;
  background-color: red;
  border: 2px solid black;
  border-radius: 5px;
  top: 10px; right: 10px;
  /* float: right; */
}
