.heading {
  text-align: center;
  background-color: #D62828;
}
.home {
  background-color: #003049;
  padding: 20px;
}

.pages-nav{
  background-color: #fcbf49;
  border-radius: 5px;
  border-style: groove;
  padding: 10px;
}

#home-btn{
  background-color:tomato;
  margin-right: 15px;
}

#resume-link{
  width: fit-content;
}

#wish-list,
#resume,
#interest,
#blog,
#setting,
#goals,
#random { 
  border-radius: 10px;
  padding-left: 20px; padding-right: 40px;
  padding-top: 10px; padding-bottom: 10px;
  margin-right: 20px;
  background-color: #eae2b7;
}

#wish-list:hover,
#resume:hover,
#interest:hover,
#blog:hover,
#setting:hover,
#goals:hover,
#random:hover {
  background-color: lightgreen;
}

#setting{ 
  position: absolute;
  right: 0%;
}
/*
    ***INTERFACE STYLING BELOW***
*/
/*
  ***Welcome Styling***
*/

#welcome-container{
  background-color: lightblue;
}
#click-me-btn{
  text-align: center;
  color: green;
  font-size: 50px;
  font-family: 	Copperplate;
  border-radius: 5px;
  box-shadow:rgba(0, 0, 0, 0.774) 0px 0px 15px;
  padding: 10px;
  margin: 10px;
}
#welcome-msg{
  text-align: center;
}
#btn-container{
  text-align: center;
}