.heading {
  text-align: center;
  background-color: #D62828;
  width: fit-content; height: fit-content;
}
.home {
  background-color: #003049;
  padding: 20px;
}

.pages-nav{
  display: block;
  position: relative;
  background-color: #fcbf49;
  border-radius: 5px;
  border-style: groove;
  padding: 10px;
}

#home-btn{
  background-color:tomato;
  border-radius: 5px;
  border-style: inset;
  box-shadow: 1px 1px 5px 0px rgba(255, 0, 0, 0.603);
  padding: 5px;
  margin-right: 15px;
  transition: all 0.5s ease-in;
}

#home-btn:hover{
  box-shadow: 1px 1px 2px 0px rgba(138, 113, 113, 0.472);
}

#header-msg{
  color:rgba(253, 253, 253, 0.883);
  display: inline-block;
  font-family: 'Chicle', cursive;
  font-size: 40px;
  letter-spacing: 20px;
  margin: auto; right: 35%;
  position: absolute;
  opacity: 1;
  z-index: 2;
  transition: all 0.5s ease-in;
}

.pages-nav:hover #header-msg{
  opacity: 0; 
  right: 0%;
}

#wish-list,
#resume,
#interest,
#blog,
#setting,
#goals,
#random { 
  display: inline-block;
  background-color: #eae2b7;
  border-radius: 10px;
  margin-right: 20px;
  opacity: 0;
  padding-left: 10px; padding-right: 10px;
  padding-top: 10px; padding-bottom: 10px;
  position: relative;
  top: 10px;
  transition: all 0.5s ease-in;
}

#wish-list:hover,
#resume:hover,
#interest:hover,
#blog:hover,
#setting:hover,
#goals:hover,
#random:hover {
  padding-right: 25px; padding-left: 25px;
  background-color: lightgreen;
}

.pages-nav:hover #resume,
.pages-nav:hover #wish-list,
.pages-nav:hover #interest,
.pages-nav:hover #blog,
.pages-nav:hover #goals{
  opacity: 1;
  top: 0px;
}

#setting{ 
  position: absolute;
  right: 0%;
}
/*
    ***INTERFACE STYLING BELOW***
*/
/*
  ***Welcome Styling***
*/

#welcome-container{
  background-color: lightblue;
  /* width: fit-content; height: fit-content; */
}
#click-me-btn{
  text-align: center;
  color: green;
  font-size: 50px;
  font-family: 	Copperplate;
  border-radius: 5px;
  box-shadow:rgba(0, 0, 0, 0.774) 0px 0px 15px;
  padding: 10px;
  margin: 10px;
  animation-name: quick-btn-animate; 
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#welcome-msg{
  text-align: center;
}

#btn-container{
  text-align: center;
  height: 100%;
}



@keyframes quick-btn-animate{
  0%{
    transform: translate(0,0);
  }
  35%{
    transform: translate(-100%, 0);
  }
  70%{
    transform: translate(100%, 0);
  }
  100%{
    transform: translate(0,0);
  }
}