/* **TSPARTICLES STYLING**
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
} */

/** PAGE STYLING**/
.heading {
  text-align: center;
  background-color: #D62828;
  width: fit-content; height: fit-content;
}
.home {
  background-color: #002f4925;
  box-shadow: 2px 2px 5px 0px;
  padding: 20px;
  /* width: 100%; height: 100%; */
}


#home-btn{
  background-color:tomato;
  border-radius: 5px;
  border-style: inset;
  box-shadow: 1px 1px 5px 0px rgba(255, 0, 0, 0.603);
  padding: 5px;
  margin-right: 15px;
  transition: all 0.5s ease-in;
}

#home-btn:hover{
  box-shadow: 1px 1px 2px 0px rgba(138, 113, 113, 0.472);
}

#header-msg{
  color:rgba(253, 253, 253, 0.883);
  display: inline-block;
  font-family: 'Chicle', cursive;
  font-size: 40px;
  letter-spacing: 20px;
  margin: auto; right: 10%;
  /* position: absolute; */
  vertical-align: baseline;
  opacity: 1;
  z-index: 2;
  transition: all 0.3s ease-out;
}

.pages-nav{
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #fcbf49;
  border-radius: 50px;
  border-style: groove;
  margin:auto;
  text-align: center;
  width: fit-content;
  padding: 20px;
}

.pages-nav:hover #header-msg{
  opacity: 0; 
  position: absolute;
  visibility: hidden;
}

#wish-list,
#resume,
#interest,
#blog,
#setting,
#goals,
#random { 
  /* display: none; */
  background: rgba(0, 0, 0, 0.301);
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  margin-right: 20px;
  opacity: 0;
  padding-left: 10px; padding-right: 10px;
  padding-top: 10px; padding-bottom: 10px;
  position: absolute;
  visibility: hidden;
  top: 0%; right: 20%;

  transition: opacity 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
  transition: padding-right,padding-left,background-color,letter-spacing 0.5s ease-in-out;
}

#wish-list:hover,
#resume:hover,
#interest:hover,
#blog:hover,
#setting:hover,
#goals:hover,
#random:hover {
  padding-right: 25px; padding-left: 25px;
  background-color: lightgreen;
  letter-spacing: 2px;
}


.pages-nav:hover #resume,
.pages-nav:hover #wish-list,
.pages-nav:hover #interest,
.pages-nav:hover #blog,
.pages-nav:hover #goals,
.pages-nav:hover #random{
  opacity: 1;
  top: 0px; right: 0%;
  position: relative;
  visibility: visible;
}

/* #resume{
  animation-name: button_appear_animate; 
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */
@keyframes button_appear_animate
{
  0%
  {
    display: inline-block;
  }
  100%
  {
    opacity: 1;
    top: 0px; right: 0%;
  }
}

#setting{ 
  position: absolute;
  right: 0%;
}
/*
    ***INTERFACE STYLING BELOW***
*/
/*
  ***Welcome Styling***
*/

.home-container{
  background-color: rgba(173, 216, 230, 0.438);
  box-shadow: 2px 2px 5px 0px;
  border-radius: 10px;
  text-align: center;
  width: 70%;
  margin-top: 20px;
  margin-left: auto; margin-right: auto;
  padding: 20px;
  /* width: fit-content; height: fit-content; */
}
#click-me-btn{
  text-align: center;
  color: rgb(0, 128, 0);
  background: rgb(255, 255, 255);
  font-size: 50px;
  font-family: 'Bowlby One SC', cursive, sans-serif;
  border-radius: 5px;
  box-shadow:rgba(0, 0, 0, 0.774) 6px 5px 1px 2px;
  padding: 10px;
  margin: 10px;
  animation-name: quick-btn-animate; 
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  transition: all 0.15s ease-in-out; 
}
#welcome-msg{
  text-align: center;
}

#btn-container{
  text-align: center;
  height: 100%;
}



@keyframes quick-btn-animate{
  0%{
    transform: translate(0,0);
  }
  35%{
    transform: translate(-100%, 0);
  }
  70%{
    transform: translate(100%, 0);
  }
  100%{
    transform: translate(0,0);
  }
}

/***WELCOME-MSG-DISPLAY***/
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%; height: fit-content;
  margin-left: auto; margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.container > *{
  flex: 1 1 auto;
  display: inline-block;
  text-align: center;
  font-family: 'Monoton', cursive;
  font-weight: 400;
  font-size: 30px;
  background: rgb(255, 255, 255);
}

.container > #l-1{
  animation-name: welcome-animate;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: background 0.1s ease-in-out;
}

#l-1:hover {
  background: #fcbf49;
}
.container > #l-2{

  animation-name: welcome-animate;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: background 0.1s ease-in-out;
}

#l-2:hover{
  background: #fcbf49;
}

.container > #l-3{
  animation-name: welcome-animate;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: background 0.1s ease-in-out;
}

#l-3:hover{
  background: #fcbf49;
}

.container > #l-4{
  animation-name: welcome-animate;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: background 0.1s ease-in-out;
}

#l-4:hover{
  background: #fcbf49;
}

.container > #l-5{
  animation-name: welcome-animate;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: background 0.1s ease-in-out;
}

#l-5:hover{
  background: #fcbf49;
}

.container > #l-6{
  animation-name: welcome-animate;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: background 0.1s ease-in-out;
}

#l-6:hover{
  background: #fcbf49;
}

.container > #l-7{
  animation-name: welcome-animate;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: background 0.1s ease-in-out;
}

#l-7:hover{
  background: #fcbf49;
}

@keyframes welcome-animate{
  from{
    opacity: 1;
    /* background: linear-gradient(to left, salmon 40%, rgb(219, 234, 240) 10%) right;
    background-size: 300%; */
  }
  to{ 
    opacity: 0.9;
    /* background-position: left; */
    transform: scale(1.5);
  }
}