.page {
    background-color: rgba(255, 255, 255, 0.808) ;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    /* justify-content: space-between;
    align-content: space-between; */
    /* margin: auto */
}

.header{
    background-color: rgb(220, 20, 60);
    margin-left: auto; margin-right: auto;
    padding: 20px;
    border: 3px black;
    border-style: double;
    border-radius: 5px;
    text-align: center;
}

#resume-header{
    margin-right: 50px;
}

.focus-btn{
    display: inline-block;
    background-color: lightgreen;
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
}

.focus-btn:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 0px 10px 0 green;
}

.focus-btn:active{
    background-color: aqua;
}

/****Pdf display component*****/
/* #resumePdf{
    margin: auto;
} */
