.page {
    background-color: rgba(255, 255, 255, 0.808) ;
    padding: 20px;
}

.page-container{
    border-style: outset;
    background: linear-gradient(to top left, rgb(73, 141, 250),  rgb(253, 253, 253));
}

.container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    /* justify-content: space-between;
    align-content: space-between; */
    /* margin: auto */
}

.header{
    /* background-color: rgb(103, 89, 136); */
    
    background: radial-gradient(rgba(141, 149, 170, 0.959) 5%, rgb(103, 89, 136)50%);
    color:rgb(255, 255, 255);
    margin-left: auto; margin-right: auto;
    padding: 20px;
    border: 3px black;
    border-style: double;
    border-radius: 5px;
    text-align: center;
    font-family: Varela Round;
    font-style: oblique;
    letter-spacing: 2px;
    position: relative;
    transition: all 2s ease;
    z-index: 1;
}

/* Gradient transition effect */
.header::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(rgb(103, 89, 136) 25%,rgba(141, 149, 170, 0.781));
  z-index: -1;
  transition: all 0.5s linear;
  opacity: 0;
}

.header:hover::before {
  opacity: 1;
}


#resume-header{
    margin-right: 50px;
}

.img-container{
    border: 5px solid black;
    border-radius: 0px 10px 10px 10px;
    float: left;
    margin-right: 20px; margin-left: 20px;
}

#gradient-border{
    position: relative;
    padding: 1px;
    margin-left: 20%;
    margin-right: 5%;
    /* position: relative; */
    background: linear-gradient(to right, rgba(255, 0, 0, 0.897), rgba(0, 0, 0, 0.349));
    transition: all 2s ease-in-out;
    z-index: 1;
}

#gradient-border::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right,rgb(68, 133, 16) 25%,rgba(231, 19, 19, 0.781));
  z-index: -1;
  transition: all 0.5s linear;
  opacity: 0;
}
#gradient-border:hover::before{
    opacity: 1;
}

#my-description-container{
    background: rgb(255, 255, 255);
    text-align: justify;
    margin: 10px;
    padding: 10px;
}

.focus-btn{
    display: inline-block;
    background-color: lightgreen;
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
}

.focus-btn:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 0px 10px 0 green;
}

.focus-btn:active{
    background-color: aqua;
}

/****Pdf display component*****/
/* #resumePdf{
    margin: auto;
} */
