/****Wish-list-Page-Component****/
.page {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.reward{
    text-align: center;
    position: fixed;
    left: 0; right:0;
    margin: auto;
    z-index: 10000;
}

.header{
    background: radial-gradient(rgba(141, 149, 170, 0.959) 5%, rgb(103, 89, 136)50%);
    color:rgb(255, 255, 255);
    margin-left: auto; margin-right: auto;
    padding: 20px;
    border: 3px black;
    border-style: double;
    border-radius: 5px;
    text-align: center;
    font-family: Varela Round;
    font-style: oblique;
    letter-spacing: 2px;
    position: relative;
    transition: all 2s ease;
    z-index: 1;
}

.header::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(rgb(103, 89, 136) 25%,rgba(141, 149, 170, 0.781));
  z-index: -1;
  transition: all 0.5s linear;
  opacity: 0;
}

.header:hover::before {
  opacity: 1;
}

#wish-display-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: outset;
}
#wish-display-container > * {
    flex: 1 1 auto;
}

.add-wish{
    visibility: hidden;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 84, 36);
    position: fixed;
    /* position: sticky;
    top: 0; */
    /* font-weight: bold; */
    font-size: 20px;
    font-family: Impact, fantasy;
    letter-spacing: 2px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 1px 2px 10px rgb(224, 143, 36);
    padding: 10px;
    margin-left: 10px;

}