
/***Wish-display-component***/
.display-container{
    /* visibility: hidden; */
    border: 5px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 20px 20px #002f4931;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 20px;
    max-width: 250px;
    transition: all .4s ease;
}

.display-container:hover{
    border-radius: 50% 50% 50% 50% / 5% 5% 5% 5% ;
    box-shadow: 10px 10px #fcc04963;
}

.img{
    display: block;
    margin-right: auto; margin-left: auto;
    border: 2px solid gray;
    border-radius: 5px;
}

#title-tag-container{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#wish-title{
    text-align: center;
    width: 100%;
}

#wish-num{
    display: inline-block;
    margin-left: 10px;
}
.remove-btn{
    display: none;
    background-color: red;
    visibility: hidden;
    transform: scale(0,0);
    transition: all 0.5s ease-in;
}
