<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./test-flex.css">
        <title>Test flex</title>
    </head>
    <body>
        <div class="flex-container">
            <div class="container" id="dif"></div>
            <div class="container" id="dif"></div>
            <div class="container" id="dif"></div>
            <div class="container" id="dif"></div>
            <div class='fit-container'>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
            </div>
            <div class='fit-container'>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
            </div>
            <div class="container" id="dif"></div>
            <div class="container" id="dif"></div>
            <div class="container" id="dif"></div>
            <div class="container" id="dif"></div>
            <div class="container" id="dif"></div>
            <div class="container" id="dif"></div>
        </div>
    </body>
</html>