/***Blog-Page-Style***/

.page {
    background-color: rgba(255, 248, 248, 0.925);
    padding: 20px;
}

.reward{
  text-align: center;
}

.header{
  background: radial-gradient(rgba(141, 149, 170, 0.959) 5%, rgb(103, 89, 136)50%);
  color:rgb(255, 255, 255);
  margin-left: auto; margin-right: auto;
  padding: 20px;
  border: 3px black;
  border-style: double;
  border-radius: 5px;
  text-align: center;
  font-family: Varela Round;
  font-style: oblique;
  letter-spacing: 2px;
  position: relative;
  transition: all 2s ease;
  z-index: 1;
}

/* Gradient transition effect */
.header::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(rgb(103, 89, 136) 25%,rgba(141, 149, 170, 0.781));
  z-index: -1;
  transition: all 0.5s linear;
  opacity: 0;
}

.header:hover::before {
  opacity: 1;
}

#post-container{
    display: flex;
    flex-flow: row wrap;
    max-width: 60%;
    width: fit-content;
    border-style: outset;
    margin-left: 20px;
}
.add-post-btn{
    visibility: hidden;
    position: fixed;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px 10px rgb(77, 51, 226);
    background-color: plum;
    font-size: large;
    font-family: Impact, fantasy;
    letter-spacing: 2px;
    padding: 10px;
    margin-left: 10px;
    z-index: 2;
}

.post-comments{
    float: right;
}