.post-container{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(162, 56, 233, 0.582);
    max-width: 280px;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    /* transform: rotate(0deg); */
    transition: all 0.5s ease-in;
}

.post-container:hover{
    box-shadow: -5px 15px 10px 0 rgba(233, 134, 4, 0.5);
    transform: rotate(3deg);
}

.post{
    background-color: rgb(251, 209, 21);
    padding: 20px;
}

.post-date{
    border: 2px solid black;
    border-style: dotted;
    border-radius: 5px;
    background-color: #f6b02d;
    padding: 5px;
    width: fit-content;
}

.post-index{
    display: inline-block;
    margin: 0 0 0 auto;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
}

.img-container{
    border-bottom: 2px solid #f6b02d;
    border-top: 2px solid #f6b02d;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(163, 120, 2);
    border-radius: 5px;
}

.post-content{
    background-color: #ffe17e;
}

.post-divider{
    height: 2px;
    color: #f6b02d;
    background-color: #f6b02d;
    border-width:0;
}

.post-location{
    background-color: #ffe17e;
}

.arrow-pointer {
    width: 25px;
    height: 25px;
    background:  #f6b02d;
    position: relative;
    float: right;
}
/* .arrow-pointer:after {
        content: '';
        position: absolute;
        left: 0; bottom: 0; width: 0; height: 0;
        border-left: 25px solid #000000;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
    } */

.arrow-pointer:before {
        content: '';
        position: absolute;
        right: -12px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 12.0px solid  #f6b02d;
        border-top: 12.0px solid transparent;
        border-bottom: 12.0px solid transparent;
    }