.page {
    background-color: lawngreen;
}
.goals-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: baseline; */
    align-content: space-between;
}
/*** Content Interface Styling ***/
.content-interface {
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    width:fit-content;
    padding: 20px;
    background-color: gold;
    border: solid black 5px;
    border-radius: 10px;
}

#add-content,
#add-color {
    margin-right: 10px;
}

.confirm-btn {
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: rgb(1, 230, 1);
}
/***Display-content-styling***/
#goal-container{
    background-color: lawngreen;
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
}